.header{
    text-align: center;
    padding: 70px 0;
}

.paragraph{
    text-align: center;
}

.flex-container {
    display: flex;
    background-color: red;
  }

.flex-container > div {
    background-color: black;
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

