/*This is a class for my header1. This should change the font colo but, it is not working.*/
h1Test {
    color: red;
}

li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }